body {
    margin: 87px;
    background-color: #e63946;
}
header h1{
    font-size: 35px ;
    text-align: center;
}
header {
    background-color : #a8dadce0 ;
    position: fixed ;
    width: 100%;
    top: 0 ;
    left: 0;
    z-index:1000 ;
    
}
.navbar {
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    align-items: center;
    justify-content: space-between;
}
#moulin {
    text-decoration: none;
    color: black;
}

#rightbar {
    display: flex;
    align-items: center;
}

#contact {
    color:black ;
    text-decoration: none;
    font-size: large ;
    font-weight: bold;
}
#contact:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px ;
}

#panier_overlay {
    position: relative;
    top:0;
    left: 0;
    text-decoration: none;
    color: white;
}

#panier {  
    position: relative;
    top: 0;
    left: 0;
    width: 4em;
    height: auto;
}
#compteur {
    position: absolute;
    width: 2.3em;
    bottom: 0.4em ;
    left: 0.8em;
    visibility: hidden;
}
#resultatPanier {
    position: absolute;
    display: inline;
    top :15px;
    width: 20px ;
    left: 22px;
    text-align: center;
}

main {
    background-color:  #457b9d;
    padding-top: 15px;
}

h2 {
    text-align: left;
    margin :0% ;
}

#produit1 {
    display: flex ;
}
#produit2 {
    display: flex;
}

.image {
    width: 25em ;
    padding-right: 0.4em;
    height: auto;
}
.button {
    width: 50px;
}
#presentation {
    vertical-align: top;
}
.ajoutpanier {
    color: white;
    background-color: rgb(255, 94, 0);
}
#achat {
    display: flex;
}
#carte {
    vertical-align: top;
}

footer {
    background-color:#1d3557 ;
}
.footer_align {
    margin: 0% 2% 0% 2%;
}


#f_part1 {
    display: flex;
    font-size: large;
}
.column_space {
    padding: 0% 8% 0% 0% ;
}

#horaire {
    float: left;
}


#table_horaires {
    color: white;
    font-size: 20px;
    margin :auto;
}

#table_horaires td
{
    height: 10px;
}
#table_horaires td:nth-child(1)
{
    width: 200px;
}

h3 {
    color:rgb(0, 255, 76);
    
}
 #cartedevisite {
    width: 250;
    height: auto;
 }

#noustrouver {
    color:white ;
    vertical-align: top;
    height: auto;
}


#paiement
{
    color:white ;
    font-size: medium;
}

#f_part2 {
    display: flex;
}

#copyright {
    text-align : right ;
    color:red;
    font-size:x-large;
}


@media screen and (max-width: 900px) {
    #f_part1 {
      flex-direction: column;
      text-align: center;
    }
    #cartedevisite {
        
      max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur */
      height: auto;
    }
  
    #carte {
      width: 100%;
      height: 300px; /* Hauteur fixe pour la carte Google Maps */
    }
    #f_part1 .column_space {
        padding: 0;
    }
    #achat {
        flex-direction: column;
    }

  } 