body {
    margin: 87px 87px;

    background-color: #FFFCF8;
}
 h1{
    font-size: 35px ;
    text-align: center;
}
header {
    background-color : #a8dadce0 ;
    position: fixed ;
    width: 100%;
    top: 0 ;
    left: 0;
    z-index:1000 ;
    box-shadow: 0px 5px 5px #888888
    
}
.navbar {
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
#moulin {
    text-decoration: none;
    color: black;
    margin-left: 80px;
}

#rightbar {
    display: flex;
    align-items: center;
}

#contact {
    color:black ;
    text-decoration: none;
    font-size: large ;
    font-weight: bold;
}
#contact:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px ;
}

#panier_overlay {
    position: relative;
    top:0;
    left: 0;
    text-decoration: none;
    color: white;
}

#panier_overlay :hover  {
    cursor: pointer;
}
#panier_overlay:hover +#sidebar {
    width: 1500px;
}

#panier {  
    position: relative;
    top: 0;
    left: 0;
    width: 4em;
    height: auto;
}
#compteur {
    position: absolute;
    width: 2.3em;
    bottom: 0.6em ;
    left: 0.8em;
    visibility: hidden;
}
#resultatPanier {
    position: absolute;
    display: inline;
    top :15px;
    width: 20px ;
    left: 22px;
    text-align: center;
}

main {
margin: 60px 0;
    background-color:  #457b9d;
    margin-top: 5%;
    box-shadow: 0px 5px 5px #888888
}

.inline {
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

h2 {
    text-align: center;
}
#intro {
    padding: 0% 6%;
}

.carrousel {
    display: flex;
}
.slides {
    list-style-type: none;
    padding: 0;
    padding-right: 50px;
}
.slides img {
    width: 600px;
    height: auto;
}
#titremain {
    padding-top: 50px;
}

#presentation_intro {
    font-size: 20px;
    font-family: "Open Sans",sans-serif,"google"
}

.prix {
    display: flex;
    color: black;
    margin-right: 6%;
}

.image {
    width: auto ;
    padding-right: 0.4em;
    height: auto;
}
.quantite {
    text-align: center;
}
#presentation {
    vertical-align: center;
    text-align: center;
}
#quantite-prix td {
   width: 200px ;
}
.round_button {
    border: 0;
    border-radius: 50%;
    background-color:#bcbcbc ;
    color: white;
}
.round_button:hover {
    background-color: black;
    cursor: pointer;
}
.quantite_nb {
    padding: 0% 5px;
}

.ajoutpanier {
    height: 23px;
    border:none;
    color: white;
    background-color: rgb(255, 94, 0);
    border-radius: 100px;
    margin-bottom: 10%;
}
.ajoutpanier:hover {
    background-color: rgba(255, 94, 0, 0.589);
    cursor: pointer;
}    

#achat {
    display: flex;
    padding: 0% 6%;
    font-weight: 1000;
    box-sizing : border-box;
}
#titre_achat {
    font-size: 2em ;
}

#carte {
    vertical-align: top;
}

footer {
    background-color:#1d3557 ;
}
.footer_align {
    margin: 0% 2% 0% 2%;
}


#f_part1 {
    display: flex;
    font-size: large;
    justify-content: space-evenly;
    
}
.column_space {
    padding: 0% 8% 0% 0% ;
}

#horaire {
    float: left;
}


#table_horaires {
    color: white;
    font-size: 20px;
    margin :auto;
}

#table_horaires td
{
    height: 10px;
}
#table_horaires td:nth-child(1)
{
    width: 200px;
}

footer h3 {
    color:rgb(0, 255, 76);
    
}
 #cartedevisite {
    width: 250px;
    height: auto;
 }

#noustrouver {
    color:white ;
    vertical-align: top;
    height: auto;
}



#paiement
{
    color:white ;
    font-size: medium;
}

#f_part2 {
    display: flex;
    padding-left: 4%;
}

#copyright {
    text-align : right ;
    color:red;
    font-size:x-large;
}

.sidebar {
    display: flex;
    height:100%;
    width:0px;
    position: fixed;
    top:0;
    right:0;
    background-color: #99babb;
    transition: all 0.25s;
    overflow-x: hidden;
    padding-top: 0;
    z-index: 1000 ;
    flex-direction: column;
}

.close-sidebar {
    position:absolute;
    top:10px;
    right: 10px;
    font-size:30px;
    cursor: pointer;
    transition: all 0.25s;
}

.sidebar-title {
    background-color: #FEF4E6 ;
}

#bottom_container {
    border-top: 2px solid  #686b6b;
    display: flex;
    margin-top: auto;
    margin-bottom: 8%;
    font-weight: 1000;
    padding: 0 5%;
    justify-content: space-between;
    flex-direction: column;
}
.bottom_button {
    color: white;
    background-color: rgba(0, 0, 0, 0.747);
    margin-bottom: 5%;
    height: 40px;
}
.bottom_button:hover {
    cursor: pointer;
    background-color: black;
}

#continuer_achat {
    background-color: #99babb ;
    border: 2px solid black ;
    color: black;
}
#continuer_achat:hover {
    background-color: #a8dadce0 ;
}

#prixTotal {
    padding-left: 100px;
}

















@media screen and (max-width: 900px) {
    #f_part1 {
      flex-direction: column;
      text-align: center;
    }
    #cartedevisite {
        
      max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur */
      height: auto;
    }
  
    #carte {
      width: 100%;
      height: 300px; /* Hauteur fixe pour la carte Google Maps */
    }
    #f_part1 .column_space {
        padding: 0;
    }
    #achat {
        flex-direction: column;
    }
    main {
        display: flex;
        flex-direction: column;
    }

  } 