body {
    margin: 87px;
    background-color: rgb(126, 126, 126); ;
}
header h1{
    font-size: 35px ;
    text-align: center;
}
header {
    background-color :rgba(212, 207, 200, 0.918) ;
    position: fixed ;
    width: 100%;
    top: 0 ;
    left: 0;
    z-index:1000 ;
    
}
.navbar {
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    align-items: center;
    justify-content: space-between;
}
#moulin {
    text-decoration: none;
    color: black;
}

#rightbar {
    display: flex;
    align-items: center;
}

#contact {
    color:black ;
    text-decoration: none;
    font-size: large ;
    font-weight: bold;
}
#contact:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px ;
}

#panier_overlay {
    position: relative;
    top:0;
    left: 0;
    text-decoration: none;
    color: white;
}

#panier {  
    position: relative;
    top: 0;
    left: 0;
    width: 4em;
    height: auto;
}
#compteur {
    position: absolute;
    width: 2.3em;
    bottom: 0.4em ;
    left: 0.8em;
}
#resultatPanier {
    position: absolute;
    display: inline;
    left: 1.7em;
    bottom: 0.1;
}

main {
    background-color: rgb(179, 152, 152);
    padding-top: 15px;
}

h2 {
    text-align: left;
    margin :0% ;
}

#produit1 {
    display: flex ;
}
#produit2 {
    display: flex;
}

.image {
    width: 25em ;
    padding-right: 0.4em;
    height: auto;
}
.button {
    width: 50px;
}
#presentation {
    vertical-align: top;
}
.ajoutpanier {
    color: white;
    background-color: rgb(255, 94, 0);
}
#achat {
    display: flex;
}
#carte {
    vertical-align: top;
}

footer {
    background-color: rgb(65, 65, 65) ;
}
.footer_align {
    margin: 0% 10% 0% 10%;
}

#f_part1 {
    display: flex;
    font-size: large;
}
.column_space {
    padding: 0% 8% 0% 0% ;
}

#horaire {
    float: left;
}


#table_horaires {
    color: white;
    font-size: 20px;
   
}

#table_horaires td
{
    height: 10px;
}

h3 {
    color:rgb(0, 255, 76);
    margin-bottom: 0%;
}
 #cartedevisite {
    width: 250;
    height: auto;
 }

#noustrouver {
    color:white ;
    vertical-align: top;
    width: 250;
    height: auto;
}
#paiement
{
    color:white ;
    font-size: medium;
}

#f_part2 {
    display: block;
}

#copyright {
    text-align : right ;
    color:red;
    font-size:x-large;
}